{% extends "base.html" %}
{% load static %}

{% block title %}
Share Refund: {{member.name}}
{% endblock title %}

{% block content %}

<!-- <h2>Refund Share for {{member.name}}</h2>    -->

<div class="form-div">
    <form method="post" action="" class="form-member">
        <div class="text-center">
            <h2 class="p-3">Refund Share</h2>
        </div>
        {% csrf_token %}
        <div class="mb-2">
            <label for="id">Member ID:</label>
            <input type="text" name="id" id="id" value="{{member.member_id}}" disabled>
        </div>
        <div class="mb-2">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" value="{{member.name}}" disabled>
        </div>
        <div class="mb-2">
            <label for="amount">Amount:</label>
            <input type="number" id="amount" name="amount" step="0.01" class="form-control" required>
            <div class="form-text">Amount to refund from Share Capital.</div>
        </div>
        <div class="mb-3 button-container">
            <button type="submit" class="more-btn btn btn-md btn-primary" value="submit">Refund</button>
        </div>
    </form>
</div>
<div class="button-container">
    <a href="{% url 'share_home' %}" class="more-btn btn-danger btn">Back</a>
</div>
{% endblock content %}

