{% extends "base.html" %}
{% load static %}

{% block title %}
About Me
{% endblock title %}

{% block content %}
<div class="details m-2">
    <h2>Details</h2>
    <div class="info container mt-4">
        <div class="row mb-3">
            <h4 class="text-center">{{member.name}}</h4>
        </div>

        <!-- Personal Details -->
        <div class="row mb-2">
            <div class="col-md-6">
                <p><strong>Member ID:</strong> {{ member.member_id }}</p>
                <p><strong>Address:</strong> {{ member.address }}</p>
                <p><strong>Date of Birth:</strong> {{ member.date_of_birth }}</p>
                <p><strong>Occupation:</strong> {{ member.occupation }}</p>
            </div>
            <div class="col-md-6">
                <p>,</p>
                <p><strong>Phone:</strong> {{ member.phone_number }}</p>
                <p><strong>Email:</strong> {{ member.email }}</p>
                <p><strong>Citizenship No.:</strong> {{ member.citizenship_number }}</p>
            </div>
        </div>
        <!-- Edit button -->
        {% if not request.user.is_staff or request.user.is_superuser %}
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <a href="{% url 'user_customer_update' member.member_id %}" class="links text-decoration-none text-black"><img style="height:15px; width:15px;" src="{% static 'images/edit.png' %}"  alt="Edit"> Edit</a>
                </div>
            </div>
        {% endif %}
    </div>

    <!-- Saving -->
    <div class="m-3">
        <h5>Saving</h5>
        <p>Saving amount : {{total_saved}}</p>
        {% if page_obj %}
        <div class="table-responsive">
            <table class="table table-responsive table-striped table-hover table-success">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Previous Balance</th>
                        <th>Deposit</th>
                        <th>Refund</th>
                        <th>Balance</th>
                        <th>Type</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tx in page_obj %}
                        <tr>
                            <td>{{ tx.date }}</td>
                            <td>Rs {{ tx.previous_balance }}</td>
                            {% if tx.type == "Deposit" or  tx.type == "Interest" %}
                                <td>Rs {{ tx.amount }}</td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
                            {% if tx.type == "Refund" %}
                                <td>Rs {{ tx.amount }}</td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
                            <td>Rs {{ tx.balance }}</td>
                            <td>{{ tx.type }}</td>
                            <td>{{ tx.remarks }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <p>No Saving Data available.</p>
        {% endif %}

        <!-- Pagination -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&larr;</a>
                    </li>
                {% endif %}

                <!-- Show the current page number -->
                <li class="page-item active">
                    <span class="page-link">{{ page_obj.number }}</span>
                </li>

                <!-- Show next pages -->
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">&rarr;</a>
                    </li>
                {% endif %}

                <!-- Show the last page number -->
                {% if page_obj.paginator.num_pages > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    
    <!-- Loan -->
    <div class="m-3">
        <h5>Loan</h5>
        {% if loan_transactions %}
            {% for loan in loan_transactions %}
                {% if loan.status == "active" %}
                <div class="table-responsive mt-3">
                    <table class="table table-success table-responsive table-striped table-hover table-bordered mt-3 text-center">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Principal Amount</th>
                                <th>Interest Rate (%)</th>
                                <th>Remaining Amount</th>
                                <th>Status</th>
                                <th>Remarks</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ loan.date }}</td>
                                <td>Rs {{ loan.amount }}</td>
                                <td>{{ loan.interest_rate }}</td>
                                <td>Rs {{ loan.remaining_principal }}</td>
                                <td><p class="btn btn-sm btn-success">Active</p></td>
                                <td>{{ loan.remarks }}</td>
                                <td>
                                    <a href="{% url 'loan_details' loan.id %}" class="btn btn-sm btn-primary m-1">View</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {% endif %}
            {% endfor %}
            <div class="container">
                <p>Want to check loan history?</p>
                <a href="{% url 'loan_all' %}" class="btn btn-sm btn-primary">Click Here</a>
            </div>
        {% else %}
            <p>No loan transactions available.</p>
        {% endif %}
    </div>
    <br>

    <!-- Share -->
    <div class="m-3">
        <h5>Share</h5>
        <p>
            Share :<span class="fw-bold"> {{total_share}}</span>
        </p>
        {% if share_transactions %}
        <div class="table-responsive">
            <table class="table table-success table-striped table-bordered mt-3 text-center table-hover">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for share in share_transactions %}
                        <tr>
                            <td>{{ share.date }}</td>
                            <td>Rs {{ share.amount }}</td>
                            <td>{{ share.remarks }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="m-3">
            <a href="{% url 'share_details' member.member_id %}" class="btn btn-primary">Details</a>
        </div>
        {% else %}
            <p>No share transactions available.</p>
        {% endif %}
    </div>

</div>

{% endblock content %}
