{% extends "base.html" %}
{% load static %}

{% block title %}
Change Password
{% endblock title %}

{% block content %}
<h2>Change your Password</h2>
<div class="form-div">
    <form method="post" action="{% url 'change_password' %}" class="form-member">
        {% csrf_token %}
        <div class="mb-2">
            <label for="current_password">Enter old Password:</label>
            <input type="password" id="current_password" name="current_password" class="form-control" required>
        </div>
        <div class="mb-2">
            <label for="new_password">Enter new Password: </label>
            <input type="password" id="new_password" name="new_password" class="form-control" required>
        </div>
        <div class="mb-2">
            <label for="confirm_password">Re-enter new Password: </label>
            <input type="password" id="confirm_password" name="confirm_password" class="form-control" required>
        </div>  
        <div class="mb-3 button-container">
            <button type="submit" class="btn btn-sm btn-primary" value="submit">Change Password</button>
        </div>
    </form>
</div>


{% endblock content %}