{% extends "base.html" %}
{% load static %}

{% block title %}
Change Password
{% endblock title %}

{% block content %}
<div class="form-div">
    <form method="post" action="{% url 'change_password' %}" class="form-member">
        
<div class="text-center"><h1 class="p-3">Change Your Password</h1></div>
        {% csrf_token %}

        <div class="mb-3 position-relative">
            <label for="current_password">Enter old Password:</label>
            <div class="position-relative">
                <input type="password" id="current_password" name="current_password" class="form-control pe-5" required>
                <i id="current_password-icon" class="fas fa-eye position-absolute"
                   style="top: 50%; right: 10px; transform: translateY(-50%); cursor: pointer;"
                   onclick="togglePassword('current_password')"></i>
            </div>
        </div>

        <div class="mb-3 position-relative">
            <label for="new_password">Enter new Password:</label>
            <div class="position-relative">
                <input type="password" id="new_password" name="new_password" class="form-control pe-5" required>
                <i id="new_password-icon" class="fas fa-eye position-absolute"
                   style="top: 50%; right: 10px; transform: translateY(-50%); cursor: pointer;"
                   onclick="togglePassword('new_password')"></i>
            </div>
        </div>

        <div class="mb-3 position-relative">
            <label for="confirm_password">Re-enter new Password:</label>
            <div class="position-relative">
                <input type="password" id="confirm_password" name="confirm_password" class="form-control pe-5" required>
                <i id="confirm_password-icon" class="fas fa-eye position-absolute"
                   style="top: 50%; right: 10px; transform: translateY(-50%); cursor: pointer;"
                   onclick="togglePassword('confirm_password')"></i>
            </div>
        </div>

        <div class="mb-3 button-container">
            <button type="submit" class="btn-sm btn-primary" value="submit">Change Password</button>
        </div>
    </form>
</div>

<script>
    function togglePassword(fieldId) {
        const field = document.getElementById(fieldId);
        const icon = document.getElementById(`${fieldId}-icon`);
        if (field.type === 'password') {
            field.type = 'text';
            icon.classList.remove('fa-eye');
            icon.classList.add('fa-eye-slash');
        } else {
            field.type = 'password';
            icon.classList.remove('fa-eye-slash');
            icon.classList.add('fa-eye');
        }
    }
</script>
{% endblock content %}
