{% extends "base.html" %}
{% load static %}

{% block title %}
Reset Password
{% endblock title %}

{% block content %}
<div class="text-center"><h1 class="p-3">Reset Password</h1></div>
<div class="form-div">
    <form class="form-user" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label" for="email">Enter your registered email:</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="example@gmail.com" required>
        </div>
        <div class="button-container mb-3">
            <button type="submit" class="btn-sm more-btn btn-primary">Send Verification Code</button>
        </div>
    </form>
</div>
<form action="{% url 'loginpage' %}" class="back">
    <button class="btn-sm px-3 more-btn btn-danger">Back</button>
</form>
{% endblock content %}