{% extends "base.html" %}
{% load static %}

{% block title %}
Password Reset
{% endblock title %}

{% block content %}
<div class="form-div">
    <form class="form-login" method="POST">
        
<div class="text-center"><h2 class="p-3">Reset Password</h2></div>
        {% csrf_token %}
        
        <div class="mb-3 position-relative">
            <label class="form-label" for="new_password">New Password:</label>
            <div class="position-relative">
                <input type="password" name="new_password" id="new_password" class="form-control pe-5"
                    placeholder="At least 8 characters" minlength="8" required autocomplete="new-password" onpaste="return false">
                <i id="new_password-icon" class="fas fa-eye position-absolute" 
                style="top: 50%; right: 10px; transform: translateY(-50%); cursor: pointer;" 
                onclick="togglePassword('new_password')"></i>
            </div>
        </div>

<div class="mb-3 position-relative">
    <label class="form-label" for="confirm_password">Confirm New Password:</label>
    <div class="position-relative">
        <input type="password" name="confirm_password" id="confirm_password" class="form-control pe-5"
               placeholder="Confirm your password" required autocomplete="new-password" onpaste="return false">
        <i id="confirm_password-icon" class="fas fa-eye position-absolute" 
           style="top: 50%; right: 10px; transform: translateY(-50%); cursor: pointer;" 
           onclick="togglePassword('confirm_password')"></i>
    </div>
</div>

        
        <div id="password-error" class="text-danger mb-3" style="display: none;"></div>

        <div class="button-container mb-3">
            <button type="submit" class="btn-sm more-btn btn-primary" id="submit-btn" >Reset Password</button>
        </div>
    </form>
</div>

<div class="text-center mt-3">
    <a href="{% url 'verify_code' %}" class="btn-sm px-3 more-btn btn-danger">Back</a>
</div>

<script>
    function togglePassword(fieldId) {
        const field = document.getElementById(fieldId);
        const icon = document.getElementById(`${fieldId}-icon`);
        if (field.type === 'password') {
            field.type = 'text';
            icon.classList.remove('fa-eye');
            icon.classList.add('fa-eye-slash');
        } else {
            field.type = 'password';
            icon.classList.remove('fa-eye-slash');
            icon.classList.add('fa-eye');
        }
    }
    
</script>
{% endblock content %}
