{% extends "base.html" %}
{% load static %}

{% block title %}
Edit details : {{form.first_name}} {{form.middle_name}} {{form.last_name}}
{% endblock title %}

{% block content %}
<h2>Edit Your details</h2>
<div class="form-div">
    <form method="post" action="{% url 'user_customer_update' id %}" class="form-member">
        {% csrf_token %}
        <div class="mb-2">
            <label for="member_id">Member ID: </label><span class="fw-bold"> {{id}}</span>
        </div>
        <div class="mb-2">
            <label for="first_name">Name: </label><span class="fw-bold"> {{form.name}}</span>
        </div>
        <div class="mb-2">
            <label for="date_of_birth">Date of Birth: </label><span class="fw-bold"> {{form.date_of_birth}}</span>
        </div>
        <div class="mb-2">
            <label for="address">Address: <span class="required-form" >*</span></label>
            <input type="text" id="address" name="address" value="{{form.address}}" class="form-control" required>
        </div>
        <div class="mb-2">
            <label for="phone_number">Phone Number: <span class="required-form" >*</span></label>
            <input type="text" id="phone_number" name="phone_number" value="{{form.phone_number}}" class="form-control" required>
        </div>  
        <div class="mb-2">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{form.email}}" class="form-control">
        </div>
        <div class="mb-2">
            <label for="occupation">Occupation:</label>
            <input type="text" id="occupation" name="occupation" value="{{form.occupation}}" class="form-control">
        </div>  
        <div class="mb-3 button-container">
            <button type="submit" class="btn btn-sm btn-primary" value="submit">Update Member</button>
        </div>
    </form>
</div>
<div class="button-container">
    <a href="{% url 'about_me' %}" class="btn btn-danger">Back</a>
</div>

{% endblock content %}